apiVersion: v1
kind: ConfigMap
metadata:
  name: hdd-was-cm
  namespace: project-ns
data:
  index.jsp: |
    <%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
    <%@ page import="java.sql.*"%>
    <html><body>
    <h2>Light-HDD Tier (WAS)</h2>
    <%
      Connection conn = null;
      try {
        // --- Secret의 값과 일치해야 함 ---
        String dbUser = "hdd-user";
        String dbPass = "test123";
        
        // --- DB Service 이름을 주소로 사용 ---
        String dbURL = "jdbc:mysql://hdd-db-svc/hdd_db?serverTimezone=UTC";
        
        Class.forName("com.mysql.cj.jdbc.Driver");
        conn = DriverManager.getConnection(dbURL, dbUser, dbPass);
        
        out.println("DB Connection: SUCCESS");
        
      } catch(Exception e) {
        out.println("DB Connection: FAILED");
        e.printStackTrace(response.getWriter());
      } finally {
        if(conn != null) conn.close();
      }
    %>
    </body></html>
